[submodule "taming-transformers"]
	path = taming-transformers
	url = https://github.com/CompVis/taming-transformers.git
[submodule "ESRGAN"]
	path = ESRGAN
	url = https://github.com/xinntao/ESRGAN.git
