[submodule "CLIP"]
	path = CLIP
	url = https://github.com/openai/CLIP.git
[submodule "guided-diffusion"]
	path = guided-diffusion
	url = https://github.com/dielibel/guided-diffusion.git
[submodule "taming-transformers"]
	path = taming-transformers
	url = https://github.com/CompVis/taming-transformers.git
[submodule "ESRGAN"]
	path = ESRGAN
	url = https://github.com/xinntao/ESRGAN.git
