ftfy
regex
tqdm
omegaconf
pytorch-lightning
kornia
einops
transformers
stegano
python-xmp-toolkit
imgtag
pillow==7.1.2
taming-transformers
imageio-ffmpeg
git+https://github.com/openai/CLIP.git
git+https://github.com/dielibel/guided-diffusion.git
